body {
  min-height: 80rem;
  padding-top: 5.5rem;
}

.btn, .finder{
	border-radius: 25px;
	margin: 5px;
}


.btn:hover{
		background-color: #E5E8E8;
}

.active:hover{
		
		background-color: black;
}

.iconos > a{
	border-radius: 50px;
	color: grey;
}


.icono-buscar{
	position: relative;
	margin-top: 16px;
	/*margin-right: -30px;*/
}


.finder{
	background-color: #EAEAEA;
}


i{
	font-size: 23px; 

}
